{% extends 'base.html.twig' %}

{% block title %}Entrepôt{% endblock %}

{% block body %}
<style>
table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid black;
    padding: 2px;
}
</style>

<h1>Liste des produits de la catégorie :  {{ category.name }}</h1>

<a href="{{path('product_index')}}">Retourner à l'entrepôt</a>&nbsp;&nbsp;
<a href="{{path('product_by_category')}}">Retourner voir toutes les catégories</a>
<table>
    <thead>
        <th>Produit</th>
        <th>Référence</th>
        <th>Stock actuel</th>
        <th>Date de création</th>
    </thead>
    <tbody>
        {% for product in products %}
        <tr>
            <td>{{ product.name }}</td>
            <td>{{ product.reference }}</td>
            <td>{{ product.quantity }}</td>
            <td>{{ product.creationDate | date("d/m/Y") }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
